# FOR LOOP

In [41]:
list_1 = [1,2,3,4,5,6,7,8,9,10]
for li in list_1 :
    print(li)

1
2
3
4
5
6
7
8
9
10

In [44]:
for num in [11,12,13,14,15]:
    print(num)

11
12
13
14
15

In [35]:
for a in range(1,10,2):
    print(a)

1
3
5
7
9

In [42]:
for a in range(10,1,-2):
    print(a)

10
8
6
4
2

In [39]:
for a in range(2,503,50):
    print(a)

2
52
102
152
202
252
302
352
402
452
502

In [45]:
country = "PAKISTAN"
for ai in country:
    print(ai)

P
A
K
I
S
T
A
N

In [46]:
country = "Pakistan","Turkey"
for ai in country:
    print(ai)

Pakistan
Turkey

In [8]:
for a in range(10):
    print("Haris")

Haris
Haris
Haris
Haris
Haris
Haris
Haris
Haris
Haris
Haris

In [9]:
for a in range(10):   # range start from 0 to 9
    print(a,"Haris")

0 Haris
1 Haris
2 Haris
3 Haris
4 Haris
5 Haris
6 Haris
7 Haris
8 Haris
9 Haris

In [33]:
for a in range(1,11,2):   # range start from 0 to 9
    print(a,"Haris")

1 Haris
3 Haris
5 Haris
7 Haris
9 Haris

In [63]:
for a in range(1,12):
     print("Haris" +" "+ "Amin")
                                         # 17cs28 is in outer loop that is not included in loop        
print("17CS28")

Haris Amin
Haris Amin
Haris Amin
Haris Amin
Haris Amin
Haris Amin
Haris Amin
Haris Amin
Haris Amin
Haris Amin
Haris Amin
17CS28