# Slicing

In [1]:
#index       -13     -12     -11      -10       -9       -8     -7      -6       -5       -4     -3      -2      -1
student = ["Haris","shariq","waqar","masood","tanzeel","moin","junaid","amjad","sheraz","abid","rafiq","adil","arham"]
#index        1       2        3        4        5        6       7       8       9       10      11     12      13
student

['Haris',
 'shariq',
 'waqar',
 'masood',
 'tanzeel',
 'moin',
 'junaid',
 'amjad',
 'sheraz',
 'abid',
 'rafiq',
 'adil',
 'arham']

In [3]:
print(student[0])
print(student[3])

Haris
masood

In [4]:
# student[ start : end+1 ]
student[0:7]

['Haris', 'shariq', 'waqar', 'masood', 'tanzeel', 'moin', 'junaid']

In [6]:
student[-11:-2]

['waqar',
 'masood',
 'tanzeel',
 'moin',
 'junaid',
 'amjad',
 'sheraz',
 'abid',
 'rafiq']

In [7]:
student[0:]

['Haris',
 'shariq',
 'waqar',
 'masood',
 'tanzeel',
 'moin',
 'junaid',
 'amjad',
 'sheraz',
 'abid',
 'rafiq',
 'adil',
 'arham']

In [8]:
student[ : 9]

['Haris',
 'shariq',
 'waqar',
 'masood',
 'tanzeel',
 'moin',
 'junaid',
 'amjad',
 'sheraz']

In [9]:
student[ : ]

['Haris',
 'shariq',
 'waqar',
 'masood',
 'tanzeel',
 'moin',
 'junaid',
 'amjad',
 'sheraz',
 'abid',
 'rafiq',
 'adil',
 'arham']

In [11]:
student[-13:5]

['Haris', 'shariq', 'waqar', 'masood', 'tanzeel']

In [12]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,181,19,20,21,22,23,24,25,26,27,28,29,30]
numbers

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 181,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [13]:
numbers[0:15]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [14]:
numbers[0:16:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [16]:
numbers[0:16:2]

[1, 3, 5, 7, 9, 11, 13, 15]

In [17]:
numbers[0:16:3]

[1, 4, 7, 10, 13, 16]

In [19]:
numbers[0::5]

[1, 6, 11, 16, 21, 26]

In [24]:
numbers[:11:4]

[1, 5, 9]

In [23]:
numbers[ : :6]

[1, 7, 13, 19, 25]